{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}
{% block title %}
	{{parent()}}
	{{ 'page_title.login_page'|trans }}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<br>
			<h1>{{ 'main.login.login_title'|trans }}</h1>

			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<div class="form-group">
					<label for="inputEmail">{{ 'main.login.login_email'|trans }}</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="{{ 'main.login.login_email'|trans }}" required autofocus>
				</div>
				<div class="form-group">
					<label for="inputPassword">{{ 'main.login.login_pass'|trans }}</label>
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'main.login.login_pass'|trans }}" required>
					<div class="help-block text-right">
						<a href="{{ relative_path('/')}}{{app.request.get('_locale')}}{{('/reset-password')}}">{{ 'main.login.login_forget'|trans }}</a>
					</div>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="form-group">
					<button type="submit" class="btn btn-outline-primary">{{ 'main.login.login_submit'|trans }}</button>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						{{ 'main.login.login_keep_login'|trans }}
					</label>
				</div>

			</form>
			<div class="bottom text-center">
				{{ 'main.login.login_new_here'|trans }}
				<a href="{{ path('app_register') }}">
					<b>{{ 'main.login.login_register'|trans }}</b>
				</a>
			</div>

		</div>

	</div>
	<br><br>
{% endblock %}
