{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}
	{{ parent() }}
	{{ 'page_title.language_admin_page'|trans }}
{% endblock %}

{% block body %}
	<br>
	<div class="row">
		{% include 'inc/admin_panel.html.twig' %}
		<div class="card col-lg-9">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>
				Tabelka Języki
				<a class="btn btn-outline-info float-right" href="{{ path('language_new') }}">Dodaj język</a>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>
								<th>id</th>
								<th>name</th>
								<th>code</th>
								<th style='width: 220px'></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>#</th>
								<th>id</th>
								<th>name</th>
								<th>code</th>
								<th></th>
							</tr>
						</tfoot>
						<tbody>
							{% for language in languageData %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ language.id }}</td>
									<td>{{ language.name }}</td>
									<td>{{ language.code }}</td>
									<td class="text-center">
										<a href="{{ path('language_details' , { 'id': language.id }) }}" class="btn btn-outline-primary" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="show">
											<span class="fas fa-info-circle"></span>
										</a>
										<a href="{{ path('language_copy' , { 'id': language.id }) }}" class="btn btn-outline-warning" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="copy">
											<span class="far fa-copy"></span>
										</a>
										<a href="{{ path('language_edit' , { 'id': language.id }) }}" class="btn btn-outline-success" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="edit">
											<span class="far fa-edit"></span>
										</a>
										<a href="{{ path('language_delete' , { 'id': language.id }) }}" class="btn btn-outline-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="delete">
											<span class="fas fa-trash"></span>
										</a>
										{% if language.publication == '1' %}
											<a href="{{ path('language_set_visibility' , { 'id': language.id , 'visibility' : '0'}) }}" class="btn btn-outline-success" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ 'admin.button.publish'|trans }}">
												<span class="fas fa-eye"></span>
											{% else %}
												<a href="{{ path('language_set_visibility' , { 'id': language.id , 'visibility' : '1'}) }}" class="btn btn-outline-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ 'admin.button.publish'|trans }}">
													<span class="fas fa-eye-slash"></span>
												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tr>
							</tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<br>
{% endblock %}
