{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}
	{{ parent() }}
	{{ 'page_title.selling_item_admin_page'|trans }}
{% endblock %}

{% block body %}
	<br>
	<div class="row">
		{% include 'inc/admin_panel.html.twig' %}
		<div class="card col-lg-9">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>
				Tabelka Przedmioty
				<a class="btn btn-info float-right" href="{{ path('selling_item_new') }}">Dodaj Przedmiot</a>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>
								<th>title</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>#</th>
								<th>title</th>
							</tr>
						</tfoot>
						<tbody>
							{% for sellingItem in sellingItemData %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ sellingItem.title }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<br>
{% endblock %}
