{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}
	{{ parent() }}
	{{ 'page_title.users_manage_admin_page'|trans }}
{% endblock %}

{% block body %}
	<br>
	<div class="row">
		{% include 'inc/admin_panel.html.twig' %}
		<div class="card col-lg-9">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>
				Tabelka Zarządzanie użytkownikami
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>
								<th>id</th>
								<th>email</th>
								<th>role</th>
								<th style='width: 70px'></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>#</th>
								<th>id</th>
								<th>email</th>
								<th>role</th>
								<th></th>
							</tr>
						</tfoot>
						<tbody>
							{% for user in usersData %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ user.id }}</td>
									<td>{{ user.email }}</td>
									<td>{{ user.roles|join }}</td>
									<td class="text-center">
										<a href="" class="btn btn-outline-secondary" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ 'admin.button.publish'|trans }}">
											<span class="fas fa-address-card"></span>
											{% if user.isVerified == '1' %}
												<a href="{{ path('users_manage_set_visibility' , { 'id': user.id , 'visibility' : '0'}) }}" class="btn btn-outline-success" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ 'admin.button.publish'|trans }}">
													<span class="fas fa-eye"></span>
												{% else %}
													<a href="{{ path('users_manage_set_visibility' , { 'id': user.id , 'visibility' : '1'}) }}" class="btn btn-outline-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ 'admin.button.publish'|trans }}">
														<span class="fas fa-eye-slash"></span>
													{% endif %}
												</td>
											</tr>
										{% endfor %}
									</td>
								</tr>
							</tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<br>
{% endblock %}
