 {% trans_default_domain 'app' %}
  <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{ path('main')}}">SuperSklep5</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Service</a></li>
                <li class="nav-item"><a href="#" class="nav-link">More</a></li>
            </ul>
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
            {% if app.user %}
            	<li class="dropdown">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"><b>{{ app.user.username }}</b> <span class="caret"></span></a></button>
                    <ul id="locale-dp" class="dropdown-menu">
                        <li>
					        <div class="row">
                                <div class="col-md-12">	
                            	    <a class="dropdown-item" href="">Panel uzytkownika</a>
			                        <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
	        {% else %}
                <li class="dropdown">
                    <a href="{{ path('app_login') }}" class="btn btn-outline-secondary">{{ 'main.login.login_title'|trans }}</a>
                </li>
                {% endif %}
            </ul>                
            <ul class="nav navbar-nav flex-row justify-content-between ml-2">
                <li class="dropdown">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"><b>{{ app.request.get('_locale')|upper }}</b> <span class="caret"></span></a></button>
                    <ul id="locale-dp" class="dropdown-menu">
                        <li>
					        <div class="row">
                                <div class="col-md-12">	
                            	    <a class="dropdown-item" href="{{ path('main', {_locale: 'pl'}) }}">PL</a>
			                        <a class="dropdown-item" href="{{ path('main', {_locale: 'en'}) }}">EN</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>




								  